@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

:root {
    --brand-col: hsl(197, 100%, 45%);
    --text-strong: hsl(197, 0%, 100%);
    --text-weak: hsl(197, 5%, 85%);
    --stroke-strong: hsl(197, 10%, 65%);
    --stroke-weak: hsl(197, 15%, 25%);
    --fill: hsl(197, 20%, 15%);
    --background: hsl(197, 30%, 10%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    background-color: var(--background);
    color: var(--text-strong);
}

form button {
    outline: none;
    border: none;
    background-color: transparent;
}

header {
    width: 100%;
    height: 15vh;
    padding: 1rem;
    border-bottom: 1px solid var(--stroke-weak);

    nav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            text-transform: uppercase;
        }

        .btn {
            color: var(--fill);
            height: 100%;
            place-items: center;
            display: flex;

            a {
                display: block;
                padding: 2rem;
                font-size: 1.2rem;
                text-align: center;
                color: var(--text-strong);
                background-color: var(--fill);
                place-content: center;
                cursor: pointer;
            }

            a:hover {
                opacity: 0.7;
                scale: 1.05;
            }
        }

        h1 {
            font-size: 3rem;
            color: var(--brand-col);
            height: 100%;
            place-items: center;
            place-content: center;
            padding-left: 7rem;
        }

        #add-envelope {
            height: 100%;
            width: 25%;
            /* margin-left: auto; */
            background-color: transparent;
            border: none;
            outline: none;

            svg {
                fill: var(--stroke-weak);
            }
        }

        #add-envelope:hover {
            opacity: 0.7;
            cursor: pointer;
            background-color: var(--fill);

            svg {
                fill: var(--brand-col);
            }
        }
    }
}

#new-envelope-form {
    height: 5vh;
    display: flex;
    gap: 2rem;
    place-content: center;
    place-items: center;
    flex-direction: row;
    width: 100%;
    padding: 0 5vw;
    color: var(--stroke-strong);

    p {
        font-weight: bold;
    }

    label {
        color: var(--stroke-weak);
        text-align: left;
    }

    input {
        outline: none;
        border: none;
        height: 30px;
        background-color: var(--stroke-weak);
        color: var(--brand-col);
    }

    button[type="submit"] {
        height: 30px;
        width: 150px;
        background-color: var(--stroke-strong);
    }

    button:hover {
        opacity: 0.7;
        cursor: pointer;
        background-color: var(--brand-col);
    }
}

#all-envelopes {
    min-height: 500px;
    height: 720px;
    overflow-y: auto;
    padding: 1rem;

    ul li {
        text-decoration: none;
        list-style: none;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 1rem;
}

.envelope {
    height: 250px;
    background-color: var(--fill);
    border: 1px solid var(--stroke-weak);
    fill: var(--text-weak);
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .data-fields {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        text-align: left;

        .env-title {
            color: var(--stroke-strong);
            font-size: 1.25rem;
        }

        .env-budget {
            color: var(--text-weak);
            font-size: 5rem;
        }

        form.hidden {
            display: none;
        }

        form {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            height: 100%;
            width: 100%;
            margin-bottom: auto;

            button[type="submit"] {
                width: 100%;
                background-color: var(--stroke-strong);
            }

            button[type="submit"]:hover {
                cursor: pointer;
                opacity: 0.5;
            }

            .header-div {
                display: flex;
                justify-content: space-between;

                button {
                    height: 30px;

                    outline: none;
                    border: none;
                    background-color: transparent;
                }

                button:hover {
                    cursor: pointer;
                    opacity: 0.5;
                }
            }
        }
    }

    .env-btns {
        width: 100%;
        height: 10%;
        display: flex;
        margin-top: auto;
        justify-content: space-between;
        place-items: flex-end;

        .transfer-btn,
        .edit-btn {
            background-color: transparent;
            outline: none;
            border: none;
        }

        .edit-btn,
        .transfer-btn,
        .del-btn {
            opacity: 0.5;
        }
        .edit-btn:hover,
        .transfer-btn:hover,
        .del-btn:hover {
            cursor: pointer;
            fill: var(--brand-col);
            opacity: 1;
        }
    }
}

#no-content-notice {
    color: var(--stroke-weak);
}

#all-transactions {
    min-height: 500px;
    height: 720px;
    overflow-y: auto;
    padding: 1rem;
}

table {
    width: 100%;
    border: 3px solid var(--stroke-weak);
    min-height: 20vh;
    border-collapse: collapse;

    th {
        color: var(--brand-col);
    }
    td {
        color: var(--stroke-strong);
    }

    td:hover {
        color: var(--text-weak);
    }

    th,
    td {
        padding: 1rem;
        border: var(--fill) 3px dashed;
    }
}

footer {
    width: 100%;
    min-height: 10vh;
    height: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--stroke-weak);
    display: flex;
    align-items: center;
    align-content: center;
    color: var(--stroke-strong);
}

@media screen and (max-width: 600px) {
    header {
        height: 30vh;
        padding: 1rem;

        nav {
            height: 100%;
            display: flex;
            flex-direction: column;
            place-items: center;
            place-content: center;
            text-align: center;

            .btn {
                height: 50%;

                a {
                    padding: 1rem;
                    font-size: 1rem;
                }
            }

            h1 {
                font-size: 2.5rem;
                height: 100%;
                padding: 0;
                text-align: center;
            }

            #add-envelope {
                height: 33%;
            }
        }
    }

    #new-envelope-form {
        gap: 1rem;
        flex-direction: column;
        width: 100%;
        padding: 0.5rem;
        height: auto;
        color: var(--stroke-strong);
    }

    #all-envelopes,
    #all-transactions {
        min-height: 300px;
        height: 500px;
        overflow-y: auto;
        padding: 1rem;
    }

    table {
        min-height: 35vh;
    }
}
